* {
    margin: 0;
    padding: 0;
}


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.form {
    width: 270px;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.hint, .output {
    height: 14px;
}

.output {
    margin-top: 8px;
}

.button {
    width: 100%;
}

